/* body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
} */

.main-title-span {
  color: #fe6d73;
}

/* 
colorcomb
#227C9D
#17C3B2
#FFCB77
#FEF9EF
#FE6D73 */

.break {
  flex-basis: 100%;
  height: 0;
}

select {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 30px;
  position: center;
  height: 30px;
  width: 110px;
}
select:hover {
  transform: translateY(-2px);
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.35);
}

a {
  text-decoration: none;
}
